/* Style File for the Hiromaji project */

:root {
    --hiromaji-main-color: #f7b8ca;
    --hiromaji-secondary-color: #7db3e2;
    --hiromaji-dark-color: #242038;
    --hiromaji-headline-font: 'M PLUS Rounded 1c', sans-serif;
    --hiromaji-text-font: 'Roboto', Tahoma, sans-serif;
}

.bg-hirom-dark {
    background-color: var(--hiromaji-dark-color);
}

.bg-hirom-main {
    background-color: var(--hiromaji-secondary-color);
}

.bg-hirom-secondary {
    background-color: var(--hiromaji-main-color);
}

html {
    position: relative;
    min-height: 100%;
}

/* Sticky footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
}

body {
    font-family: var(--hiromaji-text-font);
    overflow-x: hidden;
    margin-bottom: 180px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--hiromaji-headline-font);
    font-weight: 700;
}

/*--- Navbar ---*/
.navbar-toggler {
    background-color: var(--hiromaji-main-color);
}

.navbar-container {
    width: 350px;
}

.top-icon-link {
    z-index: 1030; /* to be top of navbar */
    position: absolute;
    top: 10px;
    right: 20px;
}

/*---  Main Page Header --- */
.btn-hirom-main {
    background-color: var(--hiromaji-main-color);
}

#mainpage-cover {
    background-image: url(../img/cherry_tree.jpg);
    background-size: cover;
    background-position: center center;
}

#main-title {
    text-shadow: 0 0 7px black;
    font-weight: 700;
    color: whitesmoke;
}

/*--- Feature Section ---*/
.feature:nth-child(even) {
    background-color: rgba(247, 184, 202, 0.6);
}

/*--- Selection page ---*/
.char-table {
    cursor: pointer;
}

/*--- Practice pages --*/
#display-char { 
    font-size: clamp(16px, 38vmin, 400px);;
    line-height: 0.9;
    font-family: var(--hiromaji-headline-font);
}

.history-item {
    height: 65px;
    width: 65px;
}

.history-item-text {
    font-size: 25px;
}

.popover-body {
    font-size: 20px;
}

.history-item-success {
    background-color: rgb(114, 212, 84);
}

.history-item-fail {
    background-color: rgba(243, 57, 57, 0.712);
}

.char-select-button {
    font-family: var(--hiromaji-headline-font);
    font-size: clamp(16px, 7vmin, 300px);
}